@function changeSize($size) {
  
  $elements : '';

  $elements : $elements + 'top: -20px !important';
  $elements : $elements + 'left: -20px !important';
  $elements : $elements + 'width: 20px !important';
  $elements : $elements + 'height: 20px !important';

  @return $elements;
}

@function calcPx($one, $two) {
  @return ($one * $two);
}

@import 'pixelize.scss';
@import 'field.scss';
@import 'persos.scss';
@import 'txt.scss';
@import 'items.scss';

body {
  margin: 0;
  padding: 0;
  position: relative;
}

$foot : 540px;

// list we're styling
.icons {
  margin: 0;
  padding: 0;
  list-style: none;
  position: relative;
  top: 0;
  left: 0;

  li {
    //margin-top: 100px;
    display: inline-block;
    position: absolute;

    &:after {
      content: '';
      -webkit-transition: 1s;
      position: absolute;
      top: -$icon-size-var;
      left: -$icon-size-var;
      width: $icon-size-var;
      height: $icon-size-var;
      //border-radius: 50%;
    }
  }
}






.icons {

  /*
  * FIELD + TXT + TRIFORCE
  */

  $width_field: 20px;
  &--field {
    left: 0;
    top: 0;
    position: relative;
    &:after {
      box-shadow: pixelize($field, $width_field);
      top: -$width_field !important;
      left: -$width_field !important;
      width: $width_field !important;
      height: $width_field !important;
    }
  }
  
  $width_cloud : 6px;
  &--cloud {
    left: calc(85% - (9 * 6px));
    top: 80px;

    &:after {
      box-shadow: pixelize($cloud, $width_cloud);
      top: -$width_cloud !important;
      left: -$width_cloud !important;
      width: $width_cloud !important;
      height: $width_cloud !important;
    }
  }

  &--thelegendof {
    left: calc(15% - (23 * 5px));
    top: 100px;
    &:after {
      box-shadow: pixelize($thelegendof);
    }
  }

  &--myzelda {
    left: calc(15% - (26 * 5px));
    top: 140px;
    &:after {
      box-shadow: pixelize($myzelda);
    }
  }

  $width_triforce : 8px;
  &--triforce {
    // On multiplie la moitié de la largeur de la ligne par la largeur d'un carré, on soustrait le tout à 50% de la largeur
    left: calc(48% - (9 * 8px));
    top: 50%;

    &:after {
      box-shadow: pixelize($triforce, $width_triforce);
      top: -$width_triforce !important;
      left: -$width_triforce !important;
      width: $width_triforce !important;
      height: $width_triforce !important;
    }
  }

  /*
  * PERSONNAGES + ITEMS
  */

  
  &--link {
    /*
    * Le 23 CI-DESSOUS est le nombre de ligne de la matrice
    */
    left: calc(34% - (12 * 5px));
    top: $foot - (23 * $icon-size-var);
    &:after {
      box-shadow: pixelize($link);
    }
  }

  $width_navi : 1px;
  &--navi {
    left: calc(29% - (15 * 1px));
    top: $foot - (24 * $icon-size-var);
    &:after {
      -webkit-animation: navi 4s linear infinite;
      box-shadow: pixelize($navi, $width_navi);
      top: -$width_navi !important;
      left: -$width_navi !important;
      width: $width_navi !important;
      height: $width_navi !important;
    }
  }


  &--zelda {
    left: calc(65% - (12 * 5px));
    top: $foot - (23 * $icon-size-var);
    &:after {
      box-shadow: pixelize($zelda);
    }
  }

  $width_heart : 3px;
  &--heart {
    left: calc(70% - (10 * 3px));
    top: $foot - (22 * $icon-size-var);
    &:after {
      box-shadow: pixelize($heart, $width_heart);
      top: -$width_heart !important;
      left: -$width_heart !important;
      width: $width_heart !important;
      height: $width_heart !important;
    }
  }


  &--ganon {
    left: calc(50% - (14 * 5px));
    //left: 600px;
    top: $foot - (27 * $icon-size-var);
    &:after {
      box-shadow: pixelize($ganon);
    }
  }

  $width_key : 2px;
  &--key {
    left: calc(50% - (19 * 2px));
    top: $foot - (38 * $icon-size-var);
    &:after {
      box-shadow: pixelize($key, $width_key);
      top: -$width_key !important;
      left: -$width_key !important;
      width: $width_key !important;
      height: $width_key !important;
    }
  }




  &--tingle {
    /*
    * Le 23 CI-DESSOUS est le nombre de ligne de la matrice
    */
    left: calc(68% - (8 * 5px));
    top: 230px;
    &:after {
      -webkit-animation: roll 5s infinite ease-in-out;
      box-shadow: pixelize($tingle);
    }
  }
}

@-webkit-keyframes roll {
  from {
    transform : rotate(0deg);
  }
  to {
    transform : rotate(-360deg);
  }
}

@-webkit-keyframes navi {
  from {  -webkit-transform: rotate(0deg) translateX(50px) rotate(0deg); }
  to   {  -webkit-transform: rotate(360deg) translateX(50px) rotate(-360deg); }
}