$triforce:
  (t t t t t t t t b t t t t t t t t)
  (t t t t t t t b y b t t t t t t t)
  (t t t t t t t b y b t t t t t t t)
  (t t t t t t b y y y b t t t t t t)
  (t t t t t t b y y y b t t t t t t)
  (t t t t t b y y y y y b t t t t t)
  (t t t t t b y y y y y b t t t t t)
  (t t t t b y y y y y y y b t t t t)
  (t t t t b b b b b b b b b t t t t)
  (t t t b y b t t t t t b y b t t t)
  (t t t b y b t t t t t b y b t t t)
  (t t b y y y b t t t b y y y b t t)
  (t t b y y y b t t t b y y y b t t)
  (t b y y y y y b t b y y y y y b t)
  (t b y y y y y b t b y y y y y b t)
  (b y y y y y y y b y y y y y y y b)
  (b b b b b b b b b b b b b b b b b)
;

$cloud:
  (t t t t t t t w w w w w w t t t t t)
  (t t t t t t w w z z z z w w t t t t)
  (t t t w w w w z w w w w z w w t t t)
  (t t w w z z z w w w w w w z w w t t)
  (t w w z w w w w w w w w w w z w w t)
  (w w z w w w w w w w w w w w w z w w)
  (w z w w w w w w w w w w w w w w z w)
  (w z w w w w w w w w w w w w w w z w)
  (w z w w w w w w w w w w w w w w z w)
  (w z w w w w w w w w w w w w w w z w)
  (w w z z z z z z z z z z z z z z w w)
  (t w w w w w w w w w w w w w w w w t)
;


$navi:
  (t b b b t t t t t t t t t t t t t t t t t t t t t t t t t)
  (b w w w b t t t t t t t t t t t t t t t t t t t t t t t t)
  (b w w w w b t t t t t t t t t t t t t t t t t t t t t t t)
  (b w w w w b t t t t t t t t t t t t t t t t t t t b b b t)
  (b w w w w w b t t t t t t t t t t t t t t t t b b w w w b)
  (b w w w w w b t t t t t t t t t t t t t t b b w w w w w b)
  (b w w w w w w b t t t t t t t t t t t t b w w w w w w w b)
  (t b w w w w w b t t t t t t t t t t t b w w w w w w w b t)
  (t b b w w w w b t t t t t t t t t t b w w w w w w w w b t)
  (t t b w w w w w b t t t t t t t t b w w w w w w w w b t t)
  (t t t b w w w w w b b b b b t t b w w w w w w w w w b t t)
  (t t t b w w w w w a a a a a b b w w w w w w w w w b t t t)
  (t t t t b w w w a a a a a a a b w w w w w w w w b t t t t)
  (t t t t t b w a a d d d d d a a w w w w w w w b t t t t t)
  (t t t t t b a a d d d d d d d a a w w w w w b t t t t t t)
  (t t t t b a a d d d w w w d d d a a w w b b t t t t t t t)
  (t t t t b a a d d w w w w w d d a a b b t t t t t t t t t)
  (t t t t b a a d d w w w w w d d a a b t t t t t t t t t t)
  (t t t t b a a d d w w w w w d d a a b t t t t t t t t t t)
  (t t t t b a a d d d w w w d d d a a b t t t t t t t t t t)
  (t t t t t b a a d d d d d d d d a w b t t t t t t t t t t)
  (t t t t t b w a a d d d d d d a w w w b t t t t t t t t t)
  (t t t t b w w w a a a a a a a w w w w w b t t t t t t t t)
  (t t t t b w w w w a a a a a b b w w w w b t t t t t t t t)
  (t t t t b w w w w b b b b b t t b w w b t t t t t t t t t)
  (t t t t t b w w w b t t t t t t t b b t t t t t t t t t t)
  (t t t t t t b b b t t t t t t t t t t t t t t t t t t t t)
;

$key:
  (t t b t t t t t t t t b t t)
  (t b y b t b b b b t b y b t)
  (b y y b b y y y y b b y y b)
  (b y y y y y y y y y y y y b)
  (t b y y y y y y y y y y b t)
  (t t b y b y y y y b y b t t)
  (t b y y b b y y b b y y b t)
  (t b y y y b y y b y y y b t)
  (t t b y y y y y y y y b t t)
  (t t t b b y y y y b b t t t)
  (t t t t t b y y b t t t t t)
  (t t t t t b y y b b t t t t)
  (t t t t t b y y y y b t t t)
  (t t t t t b y y y y b t t t)
  (t t t t t b y y b b t t t t)
  (t t t t t t b b t t t t t t)
;

$heart:
  (t b b t b b b t)
  (b w r b r r m b)
  (b w r r r r m b)
  (b w r r r r m b)
  (t b r r r m b t)
  (t t b m m b t t)
  (t t t b b t t t)
;

$green_rubis:
  (t t t t t t t t)
  (t t t b b t t t)
  (t t b u u b t t)
  (t b u u f f b t)
  (b u u f f f b b)
  (b u f f f f f b)
  (b u u f f f u b)
  (b u u f u f u b)
  (b u f u f f u b)
  (b u f f f f f b)
  (b u u f f u f b)
  (b f f f u f f b)
  (t b f u f f b t)
  (t t b f f b t t)
  (t t t b b t t t)
;

$red_rubis:
  (t t t t t t t t)
  (t t t b b t t t)
  (t t b v v b t t)
  (t b v v r r b t)
  (b v v r r r b b)
  (b v r r r r r b)
  (b v v r r r v b)
  (b v v r v r v b)
  (b v r v r r v b)
  (b v r r r r r b)
  (b v v r r v r b)
  (b r r r v r r b)
  (t b r v r r b t)
  (t t b r r b t t)
  (t t t b b t t t)
;

$blue_rubis:
  (t t t t t t t t)
  (t t t b b t t t)
  (t t b a a b t t)
  (t b a a n n b t)
  (b a a n n n b b)
  (b a n n n n n b)
  (b a a n n n a b)
  (b a a n a n a b)
  (b a n a n n a b)
  (b a n n n n n b)
  (b a a n n a n b)
  (b n n n a n n b)
  (t b n a n n b t)
  (t t b n n b t t)
  (t t t b b t t t)
;